<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnWarning="true"
         stopOnFailure="true">

    <testsuites>
        <testsuite name="all">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
